body {
    background-image: url('../images/keyboard3.jpg');
    background-size: cover;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

main {
    width: 768px;
    margin: 50px auto;
}

#header {
    display: flex;
    justify-content: space-between;color: white;
    font-size: 3rem;
}

h1 {
    color: #fff;
    margin-top: 50px;
    font-size: 2rem;
    font-weight: lighter;
}

button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    margin: 30px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fff568;
}

#label {
    color: white;
    font-size: 1rem;
}

footer {
    color: #fff;
    bottom: 0;
    padding: 10px;
    font-size: 12px;
}

#game-container {
    font-size: 28px;
}

#game {
    margin-top: 20px;
    line-height: 35px;
    height: calc(3 * 35px);
    overflow: hidden;
    position: relative;
    background-color: #e6f5e8;
    padding: 5px;
    border-radius: 5px;
}




.letter.correct {
    color: rgb(20, 126, 20);
}

.letter.incorrect {
    color: rgb(109, 2, 2);
}

.letter.current {
    color: #000;
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

#cursor {
    width: 2px;
    height: 30px;
    background: black;
    position: fixed;
    top: 40%;
    animation: blink 1s infinite;
    display: none;
}

#game:focus #cursor {
    display: block;
}

#metrics-data {
    background-color: #e6f5e8;
    opacity: 0.8;
}

 #metricsTable {
    margin-top: 20px;
    width: 100%;
    border-collapse: collapse;
}