body {
    background-image: url('../images/keyboard2.jpg');
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    text-align: center;
}


h1 {
    color: #fff;
    margin-top: 50px;
    font-size: 1rem;
    font-weight: lighter;
}

h2 {
    color: #fff;
    font-size: 3.5rem;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 80px;
}

#text-container {
    font-size: 28px;
    margin: 20px auto;
    max-width: 600px;
    height: 50px;
    padding: 10px;
    background: white;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#input-area {
    width: 600px;
    font-size: 28px;
    padding: 10px;
    margin-top: 10px;
    border: 2px solid #ccc;
    border-radius: 5px;
}

#stats {
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0px 25%;
}

.stats-item {
    text-align: center;
}

.large-number {
    font-size: 2rem;
    font-weight: bold;
    display: block;
}

.stat-label {
    font-size: 0.8rem;
    text-transform: uppercase;
    color: white;
}

.unit {
    display: inline;
}

button {
    background-color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
}

button:hover {
    background-color: #fff568;
}

#chart-container {
    width: 600px;
    height: 200px;
    margin: auto;
    margin-top: 20px;
    background: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

footer {
    color: #fff;
    bottom: 0;
    padding: 10px;
    font-size: 12px;
}

@media (max-width: 768px) {
    #text-container {
        width: 90%;
    }

    #input-area {
        width: 90%;
    }

    #stats {
        padding: 0;
    }

    #chart-container {
        width: 90%;
    }
}